@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container{
    margin: 0px auto;
    padding: 0px;
    width: 80%;
    height: 100%;
    display: table;
    background-color: #fff;
    border-left: 1px solid #a19d9d;
}
/*
nav{
    background-color: #fff;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
}

nav ul li{
    color: #000;
    margin: 2%;
}

nav ul a {
    position: relative;
    color: #000;
    text-decoration: none;
    margin:0 10px;
}
*/

/* for the navbar */
nav {
    margin: 0px 10px 0px 10px;
    border-bottom: 1px solid #e0dada;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* for the dropdown*/

.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    /* color: white; */
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
  
.dropdown-content a:hover {
    background-color: #fff;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(214, 214, 214);
  }